$white: #F2F2F2;
$black: #0D0D0D;
$dark : #211E34;
$blue: #272C4A;
$green: #1CBA79;
$dark_green: #158C5B;

@font-face {
	font-family: Calistoga;
	src: url("./assets/fonts/Calistoga.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	src: url("./assets/fonts/Roboto.ttf") format("truetype");
}