@import "./../../base.scss";

.Login {
  border: 1px solid $white;
  border-radius: 25px;
  width: 70vw;
  margin: 23vh auto 0 auto;
  text-align: center;
  font-family: Roboto;
  background-color: $blue;
  padding-bottom: 3vh;
}

.Login__title {
  color: $white;
}

.Login__footer {
  color: $white;

  & a {
    color: $green;
    transition: all 0.2s linear;
    text-decoration: none;

    &:hover {
      color: $dark_green;
    }
  }
}

.Login__password {
  margin-top: 1vh;
}

@media (min-width: $tablet) {
  .Login {
    width: 50vw;
  }
}

@media (min-width: $pc) {
  .Login {
    width: 25vw;
  }
}
