@import "./../../base.scss";

.Add {
  margin-top: 18vh;
}

.Add__input,
.Add_button {
  text-align: center;
}

.Input__add {
  width: 80vw;
}

.Add__loader {
  margin-top: -180px;
}

.Add__price__input {
  text-align: center;
  padding: 1vh 0 3vh 0;
  color: $white;
}

.Add__product {
  display: flex;
  align-items: center;
  background-color: $blue;
  border: 1px solid $green;
  border-radius: 25px;
  padding: 0 2vw 0 2vw;
  margin-top: 5vw;
  max-width: 90vh;

  & div {
    text-align: center;
  }
}

.Add__product__image {
  flex: 1;

  & .Add__product-image {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    object-fit: contain;
    background-color: white;
  }
}

.Add__product__name {
  flex: 1;
  color: $white;
  padding: 0 3vw 0 3vw;
  max-width: 30%;
  overflow-wrap: break-word;
}

.Add__product__price__button {
  flex: 1;
  color: $white;
}

.Add__noneprod {
  text-align: center;
  color: $green;
}